.css-variables-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    width: 400px;
}

.css-prop {
    display: inline-flex;
    padding: 1rem;

    input {
        width: 30px;
    }

    label {
        padding-left: 0.5rem;
        width: max-content;
    }
}
